<h1 class="text-center">Password Generator App</h1>
<div class="container w-50 text-center p-4">
  <div class="row">
    <div class="col-8 m-auto border p-3">
      <div>
        <label class="form-label">Enter Length</label>
        <input class="form-control" type="text" (input)="onChangeLength($event)" />
      </div>
      <div>
        <input class="form-check-input" (change)="onChangeUseLetters()" type="checkbox" />
        <label class="form-label">Use Letters</label>
      </div>
      <div>
        
        <input class="form-check-input" (change)="onChangeUseSymbols()" type="checkbox" />
        <label class="form-label">Use Symbols</label>
      </div>
      <div>
        <input class="form-check-input" (change)="onChangeUseNumbers()" type="checkbox" />
        <label class="form-label">Use Numbers</label>
      </div>
      <div>
        <button 
        class="btn btn-primary mb-2"
        [disabled]="!(length && (includeLetters || includeSymbols || includeNumbers) )" 
        (click)="onButtonClick()"
        >
          Generate
        </button>
      </div>
      <div *ngIf="password">
        <label>Your Password</label>
        <input [value]="password" />
      </div>
    </div>
  </div>
  
</div>
